@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}


/* Text*/
h1, h2, h3, h4, h5, h6, p, a {
    color: #ffffff;
}

h2 {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #E43B98;
    cursor: pointer;
}

p {
    padding-block: 0.5em;
}


/* Page Elements */
body {
    width: 100vw;
    min-height: 100%;
    font-family: 'Roboto', Sans-Serif;
    background-color: #161616;

    overflow-x: hidden;
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /*Firefox*/
  
}

.burgerNav {
    position: fixed;
    left: 4vw;
    top: 3vh;
    width: 10vw;
    max-width: 100px; 

    filter: drop-shadow(0, 4px, 4px);
}

.burgerNav:hover {
    cursor: pointer;
}

.sideNav {
    height: 100%;
    width: 0;

    padding-top: 60px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: rgba(14, 190, 255, 0.98);
    box-shadow: 20px, 10px, 10px, #000;

    /* opening animation */
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

.navItem {
    width: auto;
    
    padding-left: 45px;
    padding-top: 15px;

    font-size: 4em; 
    font-weight: 500;
    text-decoration: none;

}

.navItem:hover {
    color: #E43B98;
}


#topHeader {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;


    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('images/heroWallDuo.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #444;

    filter: drop-shadow(10px, 100px, 6px, #000);
}



#topHeader > img {
    max-height: 20vw; 
}

#headerText {
    max-height: 20vw;  
}

main {
    width: 65vw;
    margin: auto;
}

section {
    margin-top: 1rem;
    background-color: #222;
    padding: 2rem 3rem;
    border-radius: 5px;
}

.sectHighlight {
    background-image: linear-gradient(#C93FA3, #C9485F);
}

.flexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.projectFigure {
    display: flex;
    justify-content: center;

    background-image: linear-gradient(#C93FA3, #C9485F);
    height: 250px;
    width: 48%;
    min-width: 250px;
    position: relative;
    margin-top: 0.5em;

    border-radius: 5px;
    overflow: hidden;
}

.projectFigure:hover {
    cursor: pointer;
}

.projectFigure > figcaption {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
 
    color: #fff;
    background-color: rgb(25,25,25,0.6);
    padding: 10px;
    text-align: center;
}

.projectLogo {
    margin: auto;
    height: 50%;
    padding: 0.5em;
}

footer {
    margin-top: 40px;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #222;

    text-align: center;
    color: #E43B98;
}



/* Mobile styling */
@media screen and (max-width:500px) {
    html {
        font-size: 14px;
    }

    .navItem {
        font-size: 2em;
    }

    #topHeader {
        min-height: 100vh;
        width: 100vw;
        background-image: url('images/heroWallDuo_Mobile.jpg');
    }

    main {
        width: 85vw; 
    }

}